[Unit]
Description=EFWS GPS Refresh Timer (every 30 minutes)

[Timer]
# First run 5 minutes after boot (give time for ews_network_setup.sh to complete)
OnBootSec=5min
# Then every 30 minutes
OnUnitActiveSec=30min
# No accumulation of missed runs (if the Raspberry Pi turns off when the timer is supposed to run)
AccuracySec=60

[Install]
WantedBy=timers.target
