[Unit]
Description=EWS GSM Auto Connect
After=NetworkManager.service ModemManager.service
Requires=NetworkManager.service ModemManager.service

[Service]
Type=oneshot
ExecStart=/home/uwfadmin/ews/scripts/gsm_connect.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target