[Unit]
Description=EFWS Network Setup (SIM7600 + APN internet)
After=ModemManager.service NetworkManager.service
Wants=ModemManager.service NetworkManager.service

[Service]
Type=oneshot

User=root
Group=root

ExecStart=/home/uwfadmin/ews/scripts/ews_network_setup.sh

TimeoutStartSec=180

StandardOutput=journal
StandardError=journal
SyslogIdentifier=ews-gsm

RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
